@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

body {
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth;
    background: #0E111A;
    overflow-x: hidden;
    color: #ADB9B7;
}

/* Navbar */
nav {
    position: sticky !important;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #366576;
    z-index: 2;
}

 nav .logo {
    color: #ADB9B7;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

 .nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    text-decoration: none;
    letter-spacing: 3px;
}

.nav-links a {
    color: #ADB9B7;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links li {
    list-style: none;
}

.nav-links li.active {
     border-bottom: 5px solid #ADB9B7;
     border-radius: 2px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #ADB9B7;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    nav .nav-links {
        width: 45%;
    }
}


@media screen and (max-width: 768px) {
    
    /* body { */
        /* Removed because position: sticky did not work. Add back? */
        /* overflow-x: hidden; */
    /* } */

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #366576;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
} 

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}


/* Header */

#header {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("images/sprawlingMountains.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#header .container {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#header .nameTitle {
    padding: 10vh;
}

#header .nameTitle h1 {
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 8rem;
    text-shadow: 2px 2px 5px #366576;
    font-weight: 500;
}

#header .nameTitle h2 {
    font-size: 3rem;
    margin-top: 1.5rem;
    text-shadow: 2px 2px 5px #0E111A;
    margin-bottom: 100px;
    letter-spacing: 2px;
    font-weight: 500;
}

#header .nameTitle .btn-contain{
    padding: 20px 60px;
    background: #366576;
    border: 2px solid #ADB9B7;
    box-shadow: 2px 2px 5px #0E111A;
    text-decoration: none;
    color: #ADB9B7;
    letter-spacing: 2px;
    font-size: 20px;
    text-shadow: 2px 2px 5px #0E111A;
    transition: all 0.5s ease;
}

/* Header button animation */
#header .nameTitle .btn-contain:hover::before {
    width: 209px;
    height: 68px;
    cursor: pointer;
}


/* About */
#about {
    position: relative;
    width: 100vw;
    height: auto;
}

#about .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#about h1 {
    margin-top: 80px;
    font-size: 50px;
}

#about .profileImage {
    width: 300px;
    height: 425px;
    background-image: url("images/profileImg.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    filter: drop-shadow(10px 1px 20px #366576);
    /* border: 10px solid white; */
}

#about p {
    margin-top: 20px;
    padding: 0 20vw;
    font-size: 20px;
}

/* Skills */

#skills {
    position: relative;
    width: 100vw;
    height: auto;
    background-image: url("images/sprawlingMountains.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#skills h1 {
    padding-top: 80px;
    padding-bottom: 15px;
    font-size: 60px;
    font-weight: 300;
    text-shadow: 2px 2px 5px #0E111A;
}

#skills p {
    padding-bottom: 20px;
}

#skills .container {
    width: 80vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    text-align: center;
    color: #ADB9B7;
    text-shadow: 2px 2px 5px #0E111A;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    box-shadow: 2px 2px 5px #0E111A;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

#skills .container .iconsNode{
    grid-column-start: 1;
    grid-column-end: 4;
}

#skills .container .iconsNo {
    font-size: 30px;
    padding-top: 25px;
}

#skills .icons {
    padding: 30px;
}

#skills i {
    font-size: 60px;
}

/* Projects */
#projects {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

#projects .container {
    width: 60vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#projects h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 50px;
    font-weight: 300;
}

#projects .showcase {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

#projects .showcase li {
    margin: 20px;
    margin-bottom: 75px;
    filter: drop-shadow(1px 1px 3px #ADB9B7);
}

#projects .post-preview {
    background-image: url("images/tubeTVThumb.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    display: flex;
    width: 15rem;
    height: 15rem;
    align-items: center;
    border: none;
    background-color: black;
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
}
#projects .post-preview:hover, .post-preview:focus {
    border: none;
    box-shadow: 0 7px 20px 0 rgba(0,0,0,0.2),0 4px 10px 0 rgba(0,0,0,0.2);
}

#projects .post-preview::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 50%;
    background-color: rgba(34, 39, 51, 0.5);
    transition: all 0.5s ease;
}

#projects .post-preview:hover::before {
    background-color: rgba(34, 39, 51, 0);
}

#projects .post-preview-title {
    position: relative;
    display: block;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    transition: opacity 0.5s ease;
    color: white;
    font-size: 1.5rem;
}

/* Contact */
#contact {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("images/sprawlingMountains.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
