@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

html {
    scroll-behavior: smooth;
    background: #23221E;
    color: #ADB9B7;
    /* Interfering with position sticky on cell phone view */
    overflow-x: hidden;
}


/* Navbar */
nav {
    position: sticky !important;
    top: 0 !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #366576;
    z-index: 2;
    box-shadow: 2px 2px 5px #0E111A;
}

 nav .logo {
    color: #ADB9B7;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

 .nav-links {
    display: flex;
    justify-content: space-around;
    width: 45%;
    text-decoration: none;
    letter-spacing: 3px;
}

.nav-links a {
    color: #ADB9B7;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links li {
    list-style: none;
}

.nav-links li.active {
     border-bottom: 5px solid #ADB9B7;
     border-radius: 2px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #ADB9B7;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    nav .nav-links {
        width: 55%;
    }
}


@media screen and (max-width: 768px) {
    
    body {
        /* Causes position: sticky to not work. What would a work around for this be in CSS? */
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 68vh;
        top: 8vh;
        background-color: #366576;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
} 

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}


/* Header */

div.headingBar {
    width: 10%;
    height: 10px;
    background-color: #ADB9B7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 4px #0E111A;
    margin-top: 20px;
}


#header {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("images/sprawlingMountains.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#header .container {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#header .nameTitle {
    padding: 10vh;
}

#header .nameTitle h1 {
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 8rem;
    text-shadow: 2px 2px 3px #0E111A;
    font-weight: 500;
}

#header .nameTitle h2 {
    font-size: 3rem;
    margin-top: 1.5rem;
    text-shadow: 2px 2px 3px #0E111A;
    margin-bottom: 100px;
    letter-spacing: 2px;
    font-weight: 500;
}

#header .nameTitle .btn-contain{
    padding: 15px 60px;
    background: #366576;
    border: 2px solid #ADB9B7;
    box-shadow: 2px 2px 5px #0E111A;
    text-decoration: none;
    color: #ADB9B7;
    letter-spacing: 2px;
    font-size: 26px;
    text-shadow: 2px 2px 5px #0E111A;
    transition: all 0.5s ease;
    border-radius: 5px;
}

/* Header button animation */
#header .nameTitle .btn-contain:hover {
    cursor: pointer;
    text-shadow: 4px 3px 15px #0E111A;
    box-shadow: 3px 3px 10px #0E111A;
    border-radius: 7px;
}

@media screen and (max-width: 768px) {
    #header {
        height: auto;
        background-attachment: scroll;
    }

    #header .nameTitle {
        margin-bottom: 40px;
    }

    #header .nameTitle h1 {
        font-size: 6rem;
    }
    #header .nameTitle h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 425px) {

    #header .nameTitle {
        margin-bottom: 40px;
    }

    #header .nameTitle h1 {
        font-size: 3rem;
    }
    #header .nameTitle h2 {
        font-size: 1.75rem;
    }

    #header .nameTitle .btn-contain{
        padding: 10px 40px;
        letter-spacing: 2px;
        font-size: 20px;
        text-shadow: 2px 2px 5px #0E111A;
        transition: all 0.5s ease;
        border-radius: 5px;
    }
}


/* About */
#about {
    position: relative;
    width: 100vw;
    height: auto;
}

#about .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#about h1 {
    margin-top: 80px;
    font-size: 80px;
}

#about .profileImage {
    width: 300px;
    height: 425px;
    background-image: url("images/profileImg.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    filter: drop-shadow(10px 1px 20px #366576);
    /* border: 10px solid white; */
}
#about p {
    margin-top: 20px;
    padding: 0 20vw;
    font-size: 20px;
}
#about p a {
    margin-top: 20px;
    padding: 0 20vw;
    font-size: 24px;
    color: #ADB9B7
}

@media screen and (max-width: 1080px) {
    #about p {
        padding: 0 10vw;
    }
}

@media screen and (max-width: 768px) {
    #about h1 {
        margin-top: 60px;
        font-size: 60px;
    }

    #about p a {
        padding: 0 10vw;
        font-size: 20px;
    }
}

@media screen and (max-width: 425px) {
    #about h1 {
        margin-top: 40px;
        font-size: 40px;
    }

    #about p {
        padding: 0 5vw;
    }

    #about .profileImage {
        background-size: 200px;
        width: 200px;
        height: 250px;
    }

    #about p a {
        margin-top: 20px;
        padding: 0 5vw;
        font-size: 20px;
    }
}

/* Skills */

#skills {
    position: relative;
    width: 100vw;
    height: auto;
    background-image: url("images/sprawlingMountains.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#skills h1 {
    padding-top: 80px;
    font-size: 80px;
    font-weight: 500;
    text-shadow: 2px 2px 3px #0E111A;
}

#skills div.headingBar {
    margin-bottom: 40px;
}

#skills p {
    color: #0E111A;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 1px 1px 3px #ADB9B7;
    margin-top: 10px;
}

#skills .container {
    width: 80vw;
    height: auto;
    text-align: center;
    color: #ADB9B7;
    text-shadow: 2px 2px 5px #0E111A;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    box-shadow: 5px 5px 10px #0E111A;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

#skills .containerGrid {
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

#skills .container .iconsNode{
    grid-column-start: 1;
    grid-column-end: 4;
}

#skills .container .iconsNo {
    font-size: 30px;
    padding-top: 25px;
}

#skills .icons {
    padding: 20px;
}

#skills i {
    font-size: 80px;
}

@media screen and (max-width: 768px) {
    #skills {
        background-attachment: scroll;
    }
    
    #skills h1 {
        font-size: 60px;
    }

    #skills .container .iconsNo {
        font-size: 25px;
        padding-top: 25px;
    }

    #skills .icons i {
        font-size: 40px;
    }
}

@media screen and (max-width: 425px) {
    #skills h1 {
        font-size: 40px;
    }

    #skills .container .iconsNo {
        font-size: 20px;
        padding-top: 25px;
    }

    #skills p {
        color: #0E111A;
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: 400;
        text-shadow: 1px 1px 3px #ADB9B7;
    }
    #skills i {
        font-size: 30px;
    }

    #skills .icons {
        font-size: 14px;
    }
}

/* Projects */
#projects {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

#projects .container {
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#projects h1 {
    text-align: center;
    margin-top: 90px;
    padding-bottom: 50px;
    font-size: 80px;
    font-weight: 500;
}

#projects p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

#projects .showcase {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

#projects .showcase li {
    margin: 5px;
    margin-bottom: 75px;
}

#projects .post-preview {
    background-image: url("images/tubeTVGif.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    display: flex;
    width: 10rem;
    height: 10rem;
    align-items: center;
    border: none;
    background-color: black;
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
}

#projects #videoBackground {
    background-image: url("images/videoBackgroundGIF.gif");
}

#projects #tonyana {
    background-image: url("images/tarotPic.png");
}

#projects #amanda {
    background-image: url("images/amandaThumb.png");
}

#projects #fullWebpage {
    background-image: url("images/fullWebpageThumb.png");
}

#projects #photoPage {
    background-image: url("images/photoPageThumb.png");
}

#projects .post-preview:hover, .post-preview:focus {
    border: none;
    box-shadow: 0 7px 20px 0 rgba(0,0,0,0.2),0 4px 10px 0 rgba(0,0,0,0.2);
}

#projects .post-preview::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 50%;
    background-color: rgba(34, 39, 51, 0.5);
    transition: all 0.5s ease;
}

#projects .post-preview:hover::before {
    background-color: rgba(34, 39, 51, 0);
    z-index: 2;
}

#projects .post-preview-title {
    position: relative;
    display: block;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    transition: opacity 0.5s ease;
    color: white;
    font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
    #projects .container {
        width: 80vw;
        height: auto;
    }
}    

@media screen and (max-width: 768px) {
    #projects .container {
        width: 80vw;
        height: auto;
    }
}

@media screen and (max-width: 425px) {
    #projects h1 {
        text-align: center;
        margin-top: 30px;
        padding-bottom: 50px;
        font-size: 40px;
        font-weight: 400;
    }
    
    #projects p {
        font-size: 16px;
    }

    #projects .post-preview {
        width: 6rem;
        height: 6rem;
    }

    #projects .post-preview-title {
        padding: 0.3rem;
        font-size: 1rem;
    }
}

/* Contact */
#contact {
    position: relative;
    width: 100vw;
    height: auto;
    background-image: url("images/sprawlingMountains.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;
}

#contact h2 {
    margin-top: 20px;
    font-size: 80px;
    font-weight: 500;
    text-align: center;
    text-shadow: 2px 2px 5px #0E111A;
}

#contact p {
    color: #0E111A;
    text-align: center;
    text-shadow: 2px 2px 5px #ADB9B7;
    font-size: 20px;
}

#contact .container {
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-shadow: 2px 2px 5px #0E111A;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    box-shadow: 5px 5px 10px #0E111A;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-top: 60px;
    padding: 50px;
}

#contact .fields {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    text-align: center;
    font-size: 25px;
}

#contact .contactText1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 3;   
}

#contact .contactText2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;    
    grid-column-start: 3;
    grid-column-end: 5;  
}

#contact .contactText3 {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 5;
}

#contact .fields input {
    line-height: 30px;
    background-color: #23221E;
    color: #ADB9B7;
    font-size: 20px;
    border: 2px solid #ADB9B7;
    border-radius: 10px;
}

#contact textarea {
    line-height: 30px;
    background-color: #23221E;
    color: #ADB9B7;
    font-size: 20px;
    border: 2px solid #ADB9B7;
    border-radius: 10px;
}

#contact ul {
    list-style: none;
}

#contact .actions {
    display: flex;
    justify-content: left;
    padding-left: 10px; 
}

#contact li {
    padding: 10px 10px; 
}

#contact .button {
    width: 150px;
    height: 40px;
    font-size: 20px;
    color: #ADB9B7;
    text-shadow: 1px 1px 3px #0E111A;
    background-color: #366576;
    border-radius: 10px;
    cursor: pointer;
}

#contact .icons {
    font-size: 40px;
    display: flex;
    justify-content: center;
}

#contact a {
    text-decoration: none;
    color: #ADB9B7;
}

#contact a:visited {
    color: #ADB9B7;
}



@media screen and (max-width: 1300px) {
    #contact .container {
        width: 65vw;
    }
}

@media screen and (max-width: 1024px) {
    #contact .container {
        width: 80vw;
        height: auto;
        margin-top: 50px;
    }

    #contact h2 {
        margin-top: 80px;
        font-size: 65px;
        font-weight: 500;
        text-align: center;
        text-shadow: 2px 2px 5px #0E111A;
    }
} 

@media screen and (max-width: 768px) {
    #contact {
        background-attachment: scroll;
    }
    
    #contact h2 {
        margin-top: 40px;
        font-size: 40px;
        font-weight: 500;
    }

    #contact p {
        color: #0E111A;
        text-align: center;
        text-shadow: 2px 2px 5px #ADB9B7;
        font-size: 18px;
    }
    
    #contact .container {
        width: 90vw;
        margin-top: 50px;
        padding: 20px;
    }
    #contact .fields {
        grid-template-columns: repeat(2, 50%);
        font-size: 20px;
    }
    
    #contact .contactText1 {
        padding: 10px;
        grid-column-start: 1;
        grid-column-end: 3;   
    }
    
    #contact .contactText2 {
        padding: 10px;    
        grid-column-start: 1;
        grid-column-end: 3;  
    }
    
    #contact li {
        padding: 5px 3px; 
    }
    
    #contact .button {
        width: 130px;
        height: 40px;
        font-size: 18px;
    }
    
    #contact .icons {
        font-size: 30px;
    }
    
    #contact a:visited {
        color: #ADB9B7;
    }
}

footer {
    width: 100vw;
    height: auto;
    text-align: center;
    background-color: #366576;
    font-size: 18px;
}